
.navText {
    @apply px-3 py-2 rounded-md text-xl;
}

.navTextActive {
    @apply px-3 py-2 rounded-md hover:text-primary text-xl;
}

.navTextMobile {
    @apply block px-3 py-2 rounded-md text-xl;
}

.navTextActiveMobile {
    @apply block px-3 py-2 rounded-md text-xl;
}

.notificationButton {
    @apply p-1 rounded-full
    focus:ring-offset-2 focus:ring-white focus:outline-none focus:ring-2;
}

.menuButton {
    @apply inline-flex items-center justify-center p-2 rounded-md
    focus:outline-none focus:ring-2 focus:ring-offset-2;
}

.dropDownBorder {
    border-width: 0.15em;
}

.dropDownMenu {
    @apply origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1
    ring-1 ring-black ring-opacity-5 bg-neutral
    focus:outline-none;
}

.dropDownLink {
    @apply block px-3 py-2 rounded-md text-xl;
}
